@model IEnumerable<SFH.Models.tbl_Movement>

@{
    ViewBag.Title = "IndexYears";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="display-2">
    Years
    <div class="h2 text-muted">
        [
        @if (ViewBag.ActualType == 1)
        {<span>+$</span>}
        else
        {<span>-$</span>}
        @ViewBag.ActualAmount
        ]
    </div>
</div>


<div class="card-columns">
    @foreach (var item in Model)
    {
        <div class="card p-5" style="background-color: #061F40; color:white;">
            <h1 class="card-title display-4 font-weight-bold">
                @Html.DisplayFor(modelItem => item.quantity)
            </h1>
            <hr class="bg-white" />
            <p class="card-text h2 text-right">
                @if (item.type == 1)
                {<span>+$</span>}
                else
                {<span>-$</span>}
                @Html.DisplayFor(modelItem => item.Sutotal)
            </p>
            <hr class="bg-white" />
            @Html.ActionLink("Details", "IndexMonth", new { year = item.quantity }, htmlAttributes: new { @class = "btn btn-primary w-100 mt-3", @style = "background-color:#051933; color:white;" })
        </div>
    }
</div>

<div class="card" style="background-color: #333E4D;">
    <div class="card-body  p-1 nav justify-content-center">
        @Html.ActionLink("Add new +", "Create", null, htmlAttributes: new { @class = " m-0 h3 btn text-white font-weight-bold" })
    </div>
</div>
