@model SFH.Models.tbl_ConstantValues

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details Constant Value</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <h5>
            @Html.DisplayNameFor(model => model.Description)
        </h5>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <h5>
            @Html.DisplayNameFor(model => model.Value)
        </h5>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }, htmlAttributes: new { @class = "btn btn-primary" }) 
    <hr />
    @Html.ActionLink("Back to List", "Index")
</p>
